<template>
<div style="margin-top:6%;">
 <v-data-table

    :headers="headers"
    :items="standing"
    hide-actions
    class="elevation-1">
    <template slot="items" slot-scope="props" >
      <td class="text-xs-center">{{ props.item.Classement }}</td>
      <!-- <td class="text-xs-center">{{ props.item.Photo }}</td> -->
      <td class="text-xs-center">{{ props.item.Nom }}</td>
      <td class="text-xs-center">{{ props.item.nationalite }}</td>
      <td class="text-xs-center">{{ props.item.COUNTRY_CODE }}</td>
      
      
      <td class="text-xs-center"><v-btn :to="{ name: 'Player', params: { id: props.item.IdJoueur}}"><v-icon >chevron_right</v-icon></v-btn></td>
    </template>
  </v-data-table>
  </div>
</template>
<script>
import API from '@/lib/API'
import { mapGetters } from "vuex";

export default {
  name: "classement",
  data: () => ({
    headers: [
      { text: "Classement", align: "left", value: "Classement" },
      // { text: "Photo", value: "Photo" },
      { text: "Nom", align: "center", value: "Nom" },
      { text: "Nationalite", align: "center", value: "nationalite" },
      { text: "COUNTRY_CODE", align: "center", value: "COUNTRY_CODE" },
      { text: "Voir sa fiche", align: "center",  value:""}
    ],
    players: []
  }),
  props: {
    source: String
  },
  computed: mapGetters(["standing"]),
  mounted() {
  },
  methods: {
    
    //method for follow player
    followPlayer(Id) {
      console.log(Id);
    },
    //method viewPlayer for read player sheet
    viewPlayer(Id) {}
  },
};
</script>