<template>
<v-footer dark color="primary" app>
 <span class="white--text">SALZE - NABHAN - MARQUIS - DALFIN &copy; 2018</span>
</v-footer>
</template>

<script>
export default {
  name: 'Tooter'
}
</script>