 <template>
 <div style="margin-top:6%;">
  <v-data-table

    :headers="headers"
    :items="matchs"
    hide-actions
    class="elevation-1">
    <template slot="items" slot-scope="props" >
      <td class="text-xs-center">{{ props.item.Equipe1 }}</td>
      <td class="text-xs-center">{{ props.item.NbSetGagnant }}</td>
      <td class="text-xs-center">{{ props.item.IdCourt }}</td>
      <td class="text-xs-center">{{ props.item.IdCourt }}</td>
      <td class="text-xs-center">{{ props.item.NbSetGagnant }}</td>
      <td class="text-xs-center">{{props.item.Equipe2}}</td>
      <td class="text-xs-center"><v-btn :to="{ name: 'Match', params: { id: props.item.IdMatch}}"><v-icon >chevron_right</v-icon></v-btn></td>
    </template>
  </v-data-table>
 </div>
</template>
<script>
import axios from "axios";

export default {
  name: "Home",
  data: () => ({
    headers:[ 
      { text: "Nom joueur1", align: "left", value: "Equipe1" },
      // { text: "Photo", value: "Photo" },
      { text: "Setequipe", align: "center", value: "NbSetGagnant" },
      { text: "Jeuequipe1", align: "center", value: "IdCourt" },
      { text: "Jeuequipe2", align: "center", value: "IdCourt" },
      { text: "Setequipe2", align: "center", value: "NbSetGagnant" },
      { text: "Nom Joueur2", align: "center", value: "Equipe2" },
      { text: "Voir le match", align: "center", value: "" },
    ],
    matchs: []
  }),
  props: {
    source: String
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      axios
        .get("http://localhost:3000/matchByTournoi/3")
        .then(response => {
          this.matchs = response.data;
        })
    }
  }
};
</script>