<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>ATP client</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <v-btn
                    slot="activator"
                    :href="source"
                    icon
                    large
                    target="_blank"
                  >
                  </v-btn>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field 
                  prepend-icon="person" 
                  v-model="email"
                  name="login" 
                  label="Email" 
                  type="text">
                  </v-text-field>
                  <v-text-field 
                  id="password"
                  v-model="password"
                  prepend-icon="lock" 
                  name="password" 
                  label="Mot de passe" 
                  type="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="submit" color="primary">Connection</v-btn>
                <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-btn slot="activator" color="primary" dark>Inscription</v-btn>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click.native="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
          <v-toolbar-title>Inscritpion</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark flat @click="saveUser" @click.native="dialog = false">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-form v-model="valid">
         <v-text-field
             v-model="Nom"
            :counter="10"
            label="Nom"
            type="text"
            required ></v-text-field>
        <v-text-field
            v-model="Prenom"
            label="Prenom"
            type="text"
            required></v-text-field>
            <v-text-field
            v-model="Email"
            label="E-mail"
            type="email"
            required></v-text-field>
            <v-text-field
            v-model="Password"
            label="Password"
            type="password"
            required></v-text-field>
            <v-text-field
            v-model="NumPortable"
            label="NumPortable"
            type="text"
            required></v-text-field>
            <v-menu
          ref="menu"
          :close-on-content-click="false"
        v-model="menu"
    :nudge-right="40"
    lazy
    transition="scale-transition"
    offset-y
    full-width
    min-width="290px"
  >
    <v-text-field
      slot="activator"
      v-model="DateNaissance"
      label="DateNaissance"
      prepend-icon="event"
      readonly
    ></v-text-field>
    
    <v-date-picker
      ref="picker"
      v-model="DateNaissance"
      :max="new Date().toISOString().substr(0, 10)"
      min="1950-01-01"
      @change="save"
    ></v-date-picker>
  </v-menu>
            
  </v-form>
      </v-card>
    </v-dialog>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
     <v-snackbar
      :timeout="timeout"
      :color="color"
      :multi-line="mode === 'multi-line'"
      :vertical="mode === 'vertical'"
      v-model="snackbar"
    >
      {{ text }}
      <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name:'login',
  data: () => ({
    menu: false,
    valid: false,
    Nom: "",
    Prenom: "",
    Email: "",
    Password: "",
    DateNaissance: null,
    NumPortable: "",
    dialog: false,
    notifications: false,
    sound: true,
    widgets: false,
    snackbar: false,
    color: "",
    mode: "",
    timeout: 6000,
    text: "Email ou mot de passe incorrect",
    drawer: null,
    email: null,
    password: null,
  }),
  watch: {
    menu(val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  methods: {
    save(DateNaissance) {
      this.$refs.menu.save(DateNaissance);
    },
    submit() {
      
      this.$store.dispatch('connect', {email: this.email, password: this.password});
      this.$store.dispatch('standing');
    },
    saveUser() {
      console.log(
        this.Nom +
          " " +
          this.Prenom +
          " " +
          this.Email +
          " " +
          this.Password +
          " " +
          this.DateNaissance
      );
      axios
        .post("http://localhost:3000/saveUser", { Nom: this.Nom, Prenom: this.Prenom, Email: this.Email, Password: this.Password, NumPortable: this.NumPortable, DateNaissance: this.DateNaissance })
        .then(function(response) {
          console.log("saved successfully");
        });
    }
  },
  props: {
    source: String
  }
};
</script>