<template>
<div>
  <v-container style="margin-top: 100px;" fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex  xs2 sm2 md2>
        <v-card dark tile flat color="primary"  style="margin:2%;">
        <v-card-media  height="400px" >
          <img :src=Equipe1.Photo height="100%;" />
        </v-card-media>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{Equipe1.Nom}} <p>N° {{Equipe1.Classement}}</p></h3>
         
          </div>
        </v-card-title>
       <v-card-actions>
          <v-btn :to="{ name: 'Player', params: { id: Equipe1.IdJoueur}}" flat color="white">Voir sa fiche</v-btn>
        </v-card-actions>
      </v-card>
      </v-flex>
      <v-flex xs2 sm2 md2>
        <v-card dark tile flat color="primary"  style="margin:2%;">
          <v-card-media height="400px">
            <img :src=Equipe2.Photo height="100%;" />
        </v-card-media>
        <v-card-title primary-title>
          <div>
            <h4 class="headline mb-0">{{Equipe2.Nom}} <p>N° {{Equipe2.Classement}}</p>  </h4>
            
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn :to="{ name: 'Player', params: { id: Equipe2.IdJoueur}}" flat color="white">Voir sa fiche</v-btn>
        </v-card-actions>
      </v-card>
      </v-flex>
    </v-layout>
<!-- <v-jumbotron color="primary" height="400px" >
    <v-container  fill-height>
      <v-layout >
        <v-flex>
          <h4 style="color:white;" class="display-2">Résumé du match {{Equipe1.Nom}} vs {{Equipe2.Nom}}</h4>
          <v-divider class="my-3"></v-divider>
          <span class="subheading"> -->
           
          <!-- </span>
        </v-flex>
      </v-layout>
    </v-container>
  </v-jumbotron> -->

  </v-container>
 <v-data-table

    :headers="headers"
    :items="matchResume"
    hide-actions
    class="elevation-1">
    <template slot="items" slot-scope="props" >
      <td class="text-xs-center">{{props.item.DateSet}}</td>
      <td class="text-xs-center">{{props.item.DateJeu}}</td>
      <td class="text-xs-center">{{props.item.DatePoint}}</td>
      <td class="text-xs-center">{{props.item.Nom}}</td>
      <td class="text-xs-center">{{props.item.Point}}</td>
    </template>
  </v-data-table>
  </div>
</template>
<script>
import API from "@/lib/API";
import io from 'socket.io-client';
// socket.on('stream', function(data){
//       app.title = data.title;
//     });

export default {
  data() {
    return {
      headers: [
      { text: "DateSet", align: "center", value: "DateSet" },
      { text: "DateJeu", align: "left", value: "DateJeu" },
      { text: "DatePoint", align: "center", value: "DatePoint" },
      { text: "Nom", align: "center", value: "Nom" },
      { text: "Point", align: "center", value: "Point" },
      // { text: "COUNTRY_CODE", align: "center", value: "EquipeAuService" },
      // { text: "COUNTRY_CODE", align: "center", value: "Position" },
    ],
      Match: {},
      Equipe1: {},
      SetEquipe1: {},
      JeuEquipe1: [],
      Equipe2: {},
      SetEquipe2: {},
      JeuEquipe2: [],
      matchResume: [],
      socket : io('localhost:3000')
    };
  },
  mounted() {
    const { id } = this.$route.params;
    this.loadMatch(id);
    this.getScoreMatch(id);
     this.socket.on('Add', (data) => {
            console.log("les datas"+ data)
            this.matchResume.push(data);
        });
  },
  methods: {
    loadMatch(id) {
      API.loadMatch(id).then(response => {
        this.Match = response.data;

        if (this.Match.IdMatch != null) {
          this.loadEquipe1(this.Match.Equipe1);

          this.loadEquipe2(this.Match.Equipe2);

          if (this.Equipe1 != null && this.Equipe2 != null) {
            //console.log(SetEquipe1.IdSet);

            if (this.SetEquipe1 != null && this.SetEquipe2 != null) {
            }
          }
        }
      });
    },
    loadEquipe1(id) {
      API.getEquipe1(id).then(response => {
        this.Equipe1 = response.data;
      });
      this.loadSetEquipe1(this.Match.IdMatch, this.Match.Equipe1);
    },
    loadEquipe2(id) {
      API.getEquipe2(id).then(response => {
        this.Equipe2 = response.data;
      });
      this.loadSetEquipe2(this.Match.IdMatch, this.Match.Equipe2);
    },
    getScoreMatch(id){
      API.getScoreMatch(id).then(response => {
        console.log(response.data);
        this.matchResume = response.data;
      });
    },
    loadSetEquipe1(idMatch, idEquipe1) {
      API.getSetEquipe1(idMatch, idEquipe1).then(response => {
        this.SetEquipe1.count = response.data["COUNT(*)"];
        this.SetEquipe1.IdSet = response.data.IdSet;
      });
      this.loadJeuEquipe1();
    },
    loadSetEquipe2(idMatch, idEquipe2) {
      API.getSetEquipe1(idMatch, idEquipe2).then(response => {
        this.SetEquipe2.count = response.data["COUNT(*)"];
        this.SetEquipe2.IdSet = response.data.IdSet;
      });
      this.loadJeuEquipe2();
    },
    loadJeuEquipe1() {
      API.getJeuEquipe1(338, this.Match.Equipe1).then(response => {
        if (response == "undefined") {
          this.JeuEquipe1 = 0;
        } else {
          this.JeuEquipe1.count = response.data["COUNT(*)"];
          console.log(this.JeuEquipe1);
        }
      });
    },
    loadJeuEquipe2() {
      API.getJeuEquipe2(338, this.Match.Equipe2).then(response => {
        if (response == "undefined") {
          this.JeuEquipe2.count = 0;
        } else {
          this.JeuEquipe2.count = response.data["COUNT(*)"];
          if (this.JeuEquipe2.count == 0) {
            this.JeuEquipe2.count = 0;
          }
        }
      });
    }
  }
};
</script>
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
   
    color: white;
}
</style>
