 <template>
 <div style="margin-top:6%;">
<v-layout row wrap>
    <v-flex xs4 v-for="match in matchs" :key="match.IdMatch">
      <v-card color="primary" class="white--text" style="margin:2%;">
       
         <v-card-media src="https://www.myajc.com/rf/image_medium/Pub/p9/MyAJC/2018/03/20/Images/newsEngin.20762799_tennis-AJC.jpg" height="200px">
        </v-card-media>
         <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{match.nomEquipe1}} VS {{match.nomEquipe2}}
            <!-- <div>{{player.Classement}} <br>{{player.nationalite}}</div> -->
         </h3>
            <div>&nbsp;&nbsp;</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn :to="{ name: 'Match', params: { id: match.IdMatch}}" flat color="white">regarder</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
  <!-- <v-data-table

    :headers="headers"
    :items="matchs"
    hide-actions
    class="elevation-1">
    <template slot="items" slot-scope="props" >
      <td class="text-xs-center">{{ props.item.Equipe1 }}</td>
      <td class="text-xs-center">{{ props.item.NbSetGagnant }}</td>
      <td class="text-xs-center">{{ props.item.NbSetGagnant }}</td>
      <td class="text-xs-center">{{props.item.Equipe2}}</td>
      <td class="text-xs-center"><v-btn :to="{ name: 'Match', params: { id: props.item.IdMatch}}"><v-icon >chevron_right</v-icon></v-btn></td>
    </template>
  </v-data-table> -->
 </div>
</template>
<script>
import API from '@/lib/API'

export default {
  name: "Meeting",
  data: () => ({
    headers:[ 
      { text: "Nom joueur1", align: "center", value: "Equipe1" },
      // { text: "Photo", value: "Photo" },
      { text: "Setequipe1", align: "center", value: "NbSetGagnant" },
      { text: "Setequipe2", align: "center", value: "NbSetGagnant" },
      { text: "Nom Joueur2", align: "center", value: "Equipe2" },
      { text: "Voir le match", align: "center", value: "" },
    ],
    matchs: []
  }),
  props: {
    source: String
  },
  mounted() {
    const { id } = this.$route.params;
    this.load(id);
  },
  methods: {
     load(id) {
      API.loadMeetingofTournamentById(id)
        .then((res) => {
            console.log(res);
            this.matchs = res.data;
      });
    },
  }
};
</script>