<template>
<div>
  <v-container style="margin-top: 100px;" fluid fill-height>
  <v-layout align-center justify-center>
    <v-flex xs6 sm8 md2>
      <v-card>
        <v-card-media :src=player.Photo height="400px">
            
        </v-card-media>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{player.Nom}}</h3>
            <div> &nbsp; &nbsp; &nbsp; &nbsp;N° &nbsp;{{player.Classement}} &nbsp; -  &nbsp; {{player.nationalite}}</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <td v-if="isFollow == false" class="text-xs-center"><v-icon @click="followPlayer(user.Id, player.IdJoueur)" >star_border</v-icon> suivre</td>
          <td v-else class="text-xs-center"><v-icon @click="removeFollowingPlayer(player.IdJoueur)" >star</v-icon> ne plus suivre</td>
          <!-- <v-btn flat color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
  </div>
</template>
<script>
import axios from "axios";
import API from '@/lib/API'
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      player: {},
      isFollow: false,
    };
  },
  computed: mapGetters(["user"]),
  mounted() {
    const { id } = this.$route.params;
    this.loadPlayer(id);    
    this.isFollowing(id);
  },
  methods: {
    loadPlayer(id) {
      axios
        .get("http://localhost:3000/joueur/"+id)
        .then(response => {
          this.player = response.data;
          
        })
        .catch(error => {
          Alert("error");
        });
        this.player.Photo = "data:image/png;base64,"+this.player.Photo
    },
    followPlayer(idUser, idJoueur) {
      console.log(idJoueur);
      API.followPlayer(idUser, idJoueur).then(response => {
          if(response.status == 200)
          {
            this.isFollow = true;
          }
        })
    },
    isFollowing(idPlayer){
      const idUser = this.$store.state.user.Id;
      console.log(idUser);
      API.getUserFollowingPlayer(idUser, idPlayer).then(response => {
        console.log(response);
          if(response.status == 200)
          {
            this.isFollow = true;
          }
        })
    },
    removeFollowingPlayer(idPlayer){
      const idUser = this.$store.state.user.Id;
      API.removeUtilisateurFollowingJoueur(idUser, idPlayer).then(response => {
        console.log(response);
          if(response.status == 200)
          {
            this.isFollow = false;
          }
        })
    },
  }
};
</script>
