<template>
 <v-container style="margin-top: 100px;" fluid fill-height>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0"> {{user.Prenom}} {{user.Nom}} </h3>
            <div>{{user.Email}} <br>{{user.DateNaissance}}</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <!-- <v-btn flat color="orange">Share</v-btn>
          <v-btn flat color="orange">Explore</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
 </v-container>
</template>
<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
     
    };
  },
  computed: mapGetters(["user"]),
 
  methods: {
    
  }
};
</script>
