<template>
<div>
    <v-toolbar class="elevation-0 toolbar" fixed  dark color="primary">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title >ATP Client</v-toolbar-title>
    </v-toolbar>
        <v-navigation-drawer 
      v-model="drawer"
      fixed
      temporary
      
    >
      <v-list dense>
         <v-list-tile :to="{ name: 'Profile' }"  style="font-weight: 700; margin-left:10%;">
         <v-list-tile-title class="black--text"  style="height:100px; margin-top:25%;">
           <v-chip color="indigo" text-color="white">
      <v-avatar>
        <v-icon>account_circle</v-icon>
      </v-avatar>
          <span style="font-weight: 700;">{{user.Prenom}} {{user.Nom}}</span>
          </v-chip>
        </v-list-tile-title>
         </v-list-tile>
      <v-list-tile  :to="{ name: 'Tournois' }">
          <v-list-tile-action>
            <v-icon>weekend</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Tournois</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile  :to="{ name: 'Classement' }">
          <v-list-tile-action>
            <v-icon>sort</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Classement</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
         <v-list-tile  :to="{ name: 'Profile' }">
          <v-list-tile-action>
            <v-icon>account_circle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Voir Profil</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
       
      </v-list>
    </v-navigation-drawer>
</div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  name: "Toolbar",

  computed: mapGetters(["user"]),

  data: () => ({
    drawer: false
  })
};
</script>