<template>
<div>
  <v-container style="margin-top: 50px; margin-right: 50px; " fluid fill-height>
  <v-layout row wrap>
    <v-flex xs4 v-for="tournament in tournaments" :key="tournament.IdTournoi">
      <v-card color="primary" class="white--text">
         <v-card-media src="https://www.myajc.com/rf/image_medium/Pub/p9/MyAJC/2018/03/20/Images/newsEngin.20762799_tennis-AJC.jpg" height="200px">
        </v-card-media>
         <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{tournament.Nom}}
            <!-- <div>{{player.Classement}} <br>{{player.nationalite}}</div> -->
         </h3>
            <div>&nbsp;&nbsp;</div>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-btn :to="{ name: 'Meeting', params: { id: tournament.IdTournoi}}" flat color="white">regarder</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
  </div>
</template>
<script>
// import axios from "axios";
import API from '@/lib/API'

export default {
  data() {
    return {
      tournaments: [],
    };
  },
  mounted() {
    this.load();
  },
  methods: { 
    load() {
      API.loadTournament()
        .then((res) => {
            console.log(res);
            this.tournaments = res.data;
      });
    },
  }
};
</script>
