 <template>
  <v-app>
   <login v-if="!connected"></login>
    <template v-else>
       <toolbar></toolbar>
    <main>
      <v-content>
        <router-view ></router-view>
      </v-content>
    </main>
    </template>
   <footer></footer>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";

import Toolbar from "@/components/Toolbar";
import Footer from "@/components/Footer";
import Login from "@/components/Login";
import Classement from "@/components/Classement";

export default {
  name: "app",
  components: {
    'toolbar': Toolbar,
    'foolbar':Footer,
    Login
  },
  computed: mapGetters(["connected"]),
};
</script>